* {
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100%;
}

body {
	min-height: 100%;
	min-width: 100%;
	font-family: sans-serif;
	background-image: url(../imgs/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	margin: 0;
}


.info-card {
	width: 30%;
	z-index: 50;
	background: rgba(255, 255, 255, 0.8);
	padding: 30px;
	margin-left: auto;
	margin-right: 30px;
	margin-top: 30px;
}


.graphics {
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.graphics .btn {
	margin-top: 10px;
	margin-left: 10px;
}

.btn {
	background-color: white;
	border: none;
	color: darkblue;
	padding: 12px 16px;
	font-size: 16px;
	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.btn:hover {
	background-color: darkblue;
	color: white;
} 

.btn-group {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 30;

}

.graphics #canvas {
	position: absolute;
	top: 0;
    left: 0;
    z-index: 1;
}


.modal {
	display: none;
}

.modal-active {
	display: block;
}

.modal__info {
	display: none;
}

.modal__info-active {
	display: block;
}





/*font-family: 'Bowlby One SC', cursive;*/

