* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: sans-serif;
}

.background {
	width: 100vw;
	height: 90vh;
}

.aframe-scene, a-scene {
	width: 100vw;
	height: 90vh;
}

/*#info-card {
	width: 30%;
	background: rgba(255, 255, 255, 0.8);
	padding: 30px;
}*/

.info-card__title {
	position: fixed;
	z-index: 50;
	left: 10vw;
	top: 10vw;
}



.project-info {
	margin-left: 10vw;
	padding: 40px 0;
}
